---
import React, { Suspense } from "react"
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon'
import { Separator } from "@/components/ui/separator"
import Layout from "@/layouts/Layout.astro"
import Skills from "@/components/Skills.astro"
import Projects from "@/components/Projects.astro"

import ContactForm from "@/components/ContactForm.tsx";
import heroImage from "../assets/images/featured/justinbachtell-md.png"

export const prerender = true
---

<Layout title="JustinBachtell.com">
    <main class="flex flex-col w-full mt-20 lg:mt-0 gap-12 lg:gap-14">
        <section class="flex w-full lg:h-screen flex-col justify-center">
            <div class="flex w-full flex-col md:container lg:flex-row justify-center lg:gap-24 xl:gap-32">
                <div class="flex w-full flex-col items-center justify-center text-center lg:w-auto lg:flex-col lg:text-left gap-2 lg:gap-6">
                    <p
                    class="animate-fade-up w-full text-stone-600 dark:text-gray-200 text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl mb-0"
                    style={{ animationDelay: "0.25s", animationFillMode: "forwards" }}
                    >Hi, my name is</p>
                    <h1
                    class="animate-fade-up w-full bg-gradient-to-br bg-clip-text font-display font-bold tracking-[-0.02em] text-stone-800  drop-shadow-sm dark:from-white dark:to-white dark:text-white text-4xl md:text-5xl md:leading-[5rem] lg:text-6xl xl:text-7xl 2xl:text-8xl mb-0"
                    style={{ animationDelay: "0.15s", animationFillMode: "forwards" }}
                    >Justin Bachtell</h1>
                    <p
                    class="animate-fade-up mt-2 w-full text-stone-600  dark:text-gray-200 text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl mb-0"
                    style={{ animationDelay: "0.25s", animationFillMode: "forwards" }}
                    >I&apos;m a Full-Stack Developer</p>
                    <div class="flex flex-row lg:ml-0 lg:mr-auto my-8 items-center gap-4">
                        <a
                        href="https://twitter.com/justinjbachtell/"
                        target="_blank"
                        rel="noreferrer noopener"
                        class="group flex flex-col max-w-fit items-center justify-center hover:text-stone-600 text-stone-800 bg-transparent no-underline transition-colors"
                        aria-label="Follow me on X"
                        title="Follow me on X"
                        >
                            <Icon class="w-10 h-10" name="x" />
                        </a>
                        <a
                        class="flex flex-col max-w-fit items-center justify-center bg-transparent hover:text-stone-600 text-stone-800 no-underline transition-colors"
                        href="https://github.com/justinbachtell/justinbachtell-astro"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="Star on GitHub"
                        title="Star on GitHub"
                        >
                            <Icon class="w-8 h-8" name="github" />
                        </a>
                        <ContactForm client:visible />
                    </div>
                </div>
                <div class="flex w-full flex-col lg:w-2/6 mt-8 lg:mt-0">
                    <figure
                    class="animate-fade-up relative mx-auto my-4 aspect-square w-2/3 sm:w-1/2 max-w-sm lg:max-w-lg rounded-full lg:m-0 lg:w-full"
                    style={{ animationDelay: "0.3s", animationFillMode: "forwards" }}
                    >
                    <Suspense
                    >
                        <Image
                        src={heroImage}
                        alt="Justin Bachtell"
                        class="rounded-full border border-stone-800 dark:border-white"
                        densities={[1, 1.5, 2]}
                        />
                    </Suspense>
                    </figure>
                </div>
            </div>
        </section>
        <Separator className="justify-center mx-auto w-5/6 lg:container lg:w-full text-stone-300" />
        <section class="w-full animate-in mx-auto flex flex-col items-center justify-center gap-8 py-12 lg:py-24">
            <div class="flex gap-2 flex-col md:container justify-center items-center mx-auto">
                <p class="flex text-center text-stone-600 dark:text-white mb-0 text-xl md:text-2xl lg:text-3xl">
                Innovation in Practice
                </p>
                <h1 class="flex text-center text-stone-800 dark:text-white text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl mb-2 font-semibold">
                My Projects
                </h1>
            </div>
            <Projects />
        </section>
        <section class="w-full animate-in mx-auto flex flex-col items-center justify-center gap-8 py-12 lg:py-24 bg-stone-50">
            <div class="flex gap-2 flex-col md:container justify-center items-center mx-auto">
                <p class="flex text-center text-stone-600 dark:text-white mb-0 text-xl md:text-2xl lg:text-3xl">
                Experience in Action
                </p>
                <h1 class="flex text-center text-stone-800 dark:text-white text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl mb-2 font-semibold">
                My Skillset
                </h1>
            </div>
            <Skills />
        </section>
        <!--
        <section class="animate-in mx-auto flex flex-col items-center justify-center gap-8 py-12 lg:py-24">
            <div class="flex gap-2 flex-col justify-center items-center mx-auto">
                <p class="flex text-center text-stone-600 dark:text-white mb-0 text-xl md:text-2xl lg:text-3xl">
                Knowledge in Words
                </p>
                <h1 class="flex text-center text-stone-800 dark:text-white text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl mb-2 font-semibold">
                My Blog
                </h1>
            </div>
        </section>
        -->
    </main>
</Layout>