---
import { Suspense } from "react";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";

import ProjectModal from "../components/ProjectModal.tsx";

import jbCover from "../assets/projects/covers/justinbachtell-mobile.png";
import luoaCover from "../assets/projects/covers/luoa-mobile.png";
import quoteCover from "../assets/projects/covers/quote-library-justinbachtell-mobile.png";
import comingSoon from "../assets/projects/covers/coming-soon-mobile.png";

// icons
import {
  astro,
  react,
  tailwind,
  shadcn,
  vercel,
  typescript,
  javascript,
  git,
  github,
  nodejs,
  nextjs,
  pnpm,
  vscode,
  css,
  html,
  link,
  npm,
  mysql,
  wordpress,
  storybook,
  elastic,
  figma,
  grunt,
  bitbucket,
  jira,
  jquery,
  php,
  sass,
} from "../icons/iconLibrary";

type ProjectType = {
  title: string;
  alt: string;
  coverImage: ImageMetadata;
  description: string;
  technologyStack: {
    title: string;
    url: string;
    icon: string;
  }[];
  links: {
    title: string;
    url: string;
    icon: string;
  }[];
  launchDate: string;
  role: string;
  features: {
    title: string;
    description: string;
  }[];
};

// array of projects
const projectsList: ProjectType[] = [
  {
    title: "JustinBachtell.com",
    alt: "JustinBachtell.com mobile site",
    coverImage: jbCover,
    description: "My personal landing page, blog, and portfolio site.",
    technologyStack: [
      {
        title: "Astro",
        url: "https://astro.build/",
        icon: astro,
      },
      {
        title: "React",
        url: "https://react.dev/",
        icon: react,
      },
      {
        title: "Tailwind",
        url: "https://tailwindcss.com/",
        icon: tailwind,
      },
      {
        title: "Shadcn/UI",
        url: "https://ui.shadcn.com/",
        icon: shadcn,
      },
      {
        title: "Vercel",
        url: "https://vercel.com/",
        icon: vercel,
      },
      {
        title: "TypeScript",
        url: "https://www.typescriptlang.org/",
        icon: typescript,
      },
      {
        title: "JavaScript",
        url: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
        icon: javascript,
      },
      {
        title: "Git",
        url: "https://git-scm.com/",
        icon: git,
      },
      {
        title: "GitHub",
        url: "https://github.com/",
        icon: github,
      },
      {
        title: "Node.js",
        url: "https://nodejs.org/en/",
        icon: nodejs,
      },
      {
        title: "PNPM",
        url: "https://pnpm.io/",
        icon: pnpm,
      },
      {
        title: "CSS",
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS",
        icon: css,
      },
      {
        title: "HTML",
        url: "https://developer.mozilla.org/en-US/docs/Web/HTML",
        icon: html,
      },
      {
        title: "VSCode",
        url: "https://code.visualstudio.com/",
        icon: vscode,
      },
      { title: "NPM", url: "https://www.npmjs.com/", icon: npm },
    ],
    links: [
      {
        title: "Site",
        url: "https://justinbachtell.com/",
        icon: link,
      },
      {
        title: "GitHub",
        url: "https://github.com/justinbachtell/justinbachtell-astro",
        icon: github,
      },
    ],
    launchDate: "October 10, 2023",
    role: "Developer of the entire site.",
    features: [
      {
        title: "Performant",
        description:
          "It combines the power of React for interactablity on the page, with the intense speed of a site rendered almost entirely in HTML for better web vitals and conversion rates.",
      },
      {
        title: "Open Source",
        description:
          "The site is open source and available for anyone to use as a template for their own site.",
      },
    ],
  },
  {
    title: "LU Online Academy",
    alt: "Liberty University Online Academy mobile site",
    coverImage: luoaCover,
    description:
      "A full redesign of the Liberty University Online Academy site.",
    technologyStack: [
      { title: "React", url: "https://react.dev", icon: react },
      { title: "PHP", url: "https://www.php.net/", icon: php },
      {
        title: "JavaScript",
        url: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
        icon: javascript,
      },
      { title: "Sass", url: "https://sass-lang.com/", icon: sass },
      { title: "Figma", url: "https://www.figma.com/", icon: figma },
      { title: "Git", url: "https://git-scm.com/", icon: git },
      { title: "Node.js", url: "https://nodejs.org/en/", icon: nodejs },
      {
        title: "CSS",
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS",
        icon: css,
      },
      {
        title: "HTML",
        url: "https://developer.mozilla.org/en-US/docs/Web/HTML",
        icon: html,
      },
      {
        title: "WordPress",
        url: "https://wordpress.com/",
        icon: `<svg viewBox="0 0 128 128">
      <path
        fillRule="evenodd"
        clipRule="evenodd"
        fill="currentColor"
        d="M64.094 126.224c34.275-.052 62.021-27.933 62.021-62.325 0-33.833-27.618-61.697-60.613-62.286C30.85.995 1.894 29.113 1.885 63.21c-.01 35.079 27.612 63.064 62.209 63.014zM63.993 4.63c32.907-.011 59.126 26.725 59.116 60.28-.011 31.679-26.925 58.18-59.092 58.187-32.771.007-59.125-26.563-59.124-59.608.002-32.193 26.766-58.848 59.1-58.859zM39.157 35.896c.538 1.793-.968 2.417-2.569 2.542-1.685.13-3.369.257-5.325.406 6.456 19.234 12.815 38.183 19.325 57.573.464-.759.655-.973.739-1.223 3.574-10.682 7.168-21.357 10.651-32.069.318-.977.16-2.271-.188-3.275-1.843-5.32-4.051-10.524-5.667-15.908-1.105-3.686-2.571-6.071-6.928-5.644-.742.073-1.648-1.524-2.479-2.349 1.005-.6 2.003-1.704 3.017-1.719a849.593 849.593 0 0126.618.008c1.018.017 2.016 1.15 3.021 1.765-.88.804-1.639 2.01-2.668 2.321-1.651.498-3.482.404-5.458.58l19.349 57.56c2.931-9.736 5.658-18.676 8.31-27.639 2.366-8.001.956-15.473-3.322-22.52-1.286-2.119-2.866-4.175-3.595-6.486-.828-2.629-1.516-5.622-1.077-8.259.745-4.469 4.174-6.688 8.814-7.113C74.333.881 34.431 9.317 19.728 34.922c5.66-.261 11.064-.604 16.472-.678 1.022-.013 2.717.851 2.957 1.652zm10.117 77.971c-.118.345-.125.729-.218 1.302 10.943 3.034 21.675 2.815 32.659-.886l-16.78-45.96c-5.37 15.611-10.52 30.575-15.661 45.544zm-8.456-2.078l-25.281-69.35c-11.405 22.278-2.729 56.268 25.281 69.35zm76.428-44.562c.802-10.534-2.832-25.119-5.97-27.125-.35 3.875-.106 8.186-1.218 12.114-2.617 9.255-5.817 18.349-8.899 27.468-3.35 9.912-6.832 19.779-10.257 29.666 16.092-9.539 24.935-23.618 26.344-42.123z"
      ></path>
    </svg>`,
      },
      { title: "VSCode", url: "https://code.visualstudio.com/", icon: vscode },
      { title: "Grunt.js", url: "https://gruntjs.com/", icon: grunt },
      { title: "Bitbucket", url: "https://bitbucket.org/", icon: bitbucket },
      {
        title: "Jira",
        url: "https://www.atlassian.com/software/jira",
        icon: jira,
      },
      { title: "jQuery", url: "https://jquery.com/", icon: jquery },
      { title: "NPM", url: "https://www.npmjs.com/", icon: npm },
      { title: "WordPress", url: "https://wordpress.org/", icon: wordpress },
      { title: "StoryBook", url: "https://storybook.js.org/", icon: storybook },
      { title: "MySQL", url: "https://www.mysql.com/", icon: mysql },
      { title: "Elastic", url: "https://www.elastic.co/", icon: elastic },
    ],
    links: [
      {
        title: "Site",
        url: "https://www.liberty.edu/online-academy/",
        icon: link,
      },
    ],
    launchDate: "May 17, 2023",
    role: "Developer and project leader of the site while working with a team of other developers, collaborating with designers, and frequent interfacing with customers.",
    features: [
      {
        title: "WordPress CMS",
        description:
          "Utilizing WordPress as a Content Management System (CMS), the site is highly customizable, easy to update and maintain, and allows the customer to quickly add or update content.",
      },
      {
        title: "Custom Theme",
        description:
          "The site is built on a custom theme from designs that provide a unique, user-friendly experience.",
      },
      {
        title: "Custom Plugins",
        description:
          "My team and I developed a ton of highly customized, reusable, and dynamic plugins that allow the customer to easily add content to the site.",
      },
    ],
  },
  {
    title: "Quote Library (In Dev)",
    alt: "Quote Library mobile site",
    coverImage: quoteCover,
    description: "A quote library that allows for the creation of fully indexes quotes and extensive relational metadata.",
    technologyStack: [
        {
            title: "Next.js",
            url: "https://nextjs.org/",
            icon: nextjs,
        },
        {
            title: "React.js",
            url: "https://reactjs.org/",
            icon: react,
        },
        {
            title: "Shadcn/UI",
            url: "https://ui.shadcn.com/",
            icon: shadcn,
        },
        {
            title: "Vercel",
            url: "https://vercel.com/",
            icon: vercel,
        },
        { title: "MySQL", url: "https://www.mysql.com/", icon: mysql },
        {
            title: "TypeScript",
            url: "https://www.typescriptlang.org/",
            icon: typescript,
        },
        {
            title: "JavaScript",
            url: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
            icon: javascript,
        },
        {
            title: "Git",
            url: "https://git-scm.com/",
            icon: git,
        },
        {
            title: "GitHub",
            url: "https://github.com/",
            icon: github,
        },
        {
            title: "Node.js",
            url: "https://nodejs.org/en/",
            icon: nodejs,
        },
        {
            title: "PNPM",
            url: "https://pnpm.io/",
            icon: pnpm,
        },
        {
            title: "CSS",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS",
            icon: css,
        },
        {
            title: "HTML",
            url: "https://developer.mozilla.org/en-US/docs/Web/HTML",
            icon: html,
        },
        {
            title: "VSCode",
            url: "https://code.visualstudio.com/",
            icon: vscode,
        },
    ],
    links: [
        {
            title: "Site",
            url: "https://quote-library.justinbachtell.com/",
            icon: link,
        },
        {
            title: "GitHub",
            url: "https://github.com/justinbachtell/quote-library",
            icon: github,
        },
    ],
    launchDate: "January 7, 2024",
    role: "Developer of the entire site.",
    features: [
        {
            title: "Fully indexed, relational MySQL database",
            description:
                "The quotes and their authors, books, publishers, topic, type, tag, genre, city, state, and country are all fully indexed and relational, stored in a PlanetScale MySQL database.",
        },
        {
            title: "Dynamic pages",
            description:
                "The site is built on Next.js, which allows for dynamic CRUD operations on the database, and dynamic pages for each quote, author, book, publisher, topic, type, tag, genre, city, state, and country.",
        },
        {
            title: "Open Source",
            description:
                "The site is open source and available for anyone to use as a reference.",
        },
    ]
  },
  {
    title: "Drug Matrix (In Dev)",
    alt: "Drug Matrix mobile site",
    coverImage: comingSoon,
    description: "An interactive drug matrix of drug categories, classifications, indicators, duration of effects, overdose signs, and more.",
    technologyStack: [
        {
            title: "Next.js",
            url: "https://nextjs.org/",
            icon: nextjs,
        },
        {
            title: "React.js",
            url: "https://reactjs.org/",
            icon: react,
        },
        {
            title: "Shadcn/UI",
            url: "https://ui.shadcn.com/",
            icon: shadcn,
        },
        {
            title: "Vercel",
            url: "https://vercel.com/",
            icon: vercel,
        },
        { title: "MySQL", url: "https://www.mysql.com/", icon: mysql },
        {
            title: "TypeScript",
            url: "https://www.typescriptlang.org/",
            icon: typescript,
        },
        {
            title: "JavaScript",
            url: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
            icon: javascript,
        },
        {
            title: "Git",
            url: "https://git-scm.com/",
            icon: git,
        },
        {
            title: "GitHub",
            url: "https://github.com/",
            icon: github,
        },
        {
            title: "Node.js",
            url: "https://nodejs.org/en/",
            icon: nodejs,
        },
        {
            title: "PNPM",
            url: "https://pnpm.io/",
            icon: pnpm,
        },
        {
            title: "CSS",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS",
            icon: css,
        },
        {
            title: "HTML",
            url: "https://developer.mozilla.org/en-US/docs/Web/HTML",
            icon: html,
        },
        {
            title: "VSCode",
            url: "https://code.visualstudio.com/",
            icon: vscode,
        },
    ],
    links: [
        {
            title: "Site",
            url: "",
            icon: link,
        },
        {
            title: "GitHub",
            url: "",
            icon: github,
        },
    ],
    launchDate: "TBD",
    role: "Developer of the entire site.",
    features: [
        {
            title: "Fully indexed, relational MySQL database",
            description:
                "The drug classifications, their categories, indicators, duration of effects, overdose signs, and more are all fully indexed and relational, stored in a PlanetScale MySQL database.",
        },
        {
            title: "Highly accessible and interactive resource",
            description: "The site is built with accessibility in mind, and is highly interactive and responsive to provide a great user experience. It is purposed to be an invaluable resource for those in law enforcement, particularly those who are Drug Recognition Experts.",
        },
        {
            title: "Built by an internationally certified Drug Recognition Expert",
            description:
                "The site is being built by an internationally certified Drug Recognition Expert, who has been trained and certified by the International Association of Chiefs of Police (IACP) and the National Highway Traffic Safety Administration (NHTSA), and has been awarded one of the top 10 DREs in the state.",
        },
    ]
  },
  {
    title: "Liberty University Online (In Dev)",
    alt: "Liberty University Online mobile site",
    coverImage: comingSoon,
    description:
      "A full redesign of the Liberty University Online site.",
    technologyStack: [
      { title: "React", url: "https://react.dev", icon: react },
      { title: "PHP", url: "https://www.php.net/", icon: php },
      {
        title: "JavaScript",
        url: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
        icon: javascript,
      },
      { title: "Sass", url: "https://sass-lang.com/", icon: sass },
      { title: "Figma", url: "https://www.figma.com/", icon: figma },
      { title: "Git", url: "https://git-scm.com/", icon: git },
      { title: "Node.js", url: "https://nodejs.org/en/", icon: nodejs },
      {
        title: "CSS",
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS",
        icon: css,
      },
      {
        title: "HTML",
        url: "https://developer.mozilla.org/en-US/docs/Web/HTML",
        icon: html,
      },
      {
        title: "WordPress",
        url: "https://wordpress.com/",
        icon: `<svg viewBox="0 0 128 128">
      <path
        fillRule="evenodd"
        clipRule="evenodd"
        fill="currentColor"
        d="M64.094 126.224c34.275-.052 62.021-27.933 62.021-62.325 0-33.833-27.618-61.697-60.613-62.286C30.85.995 1.894 29.113 1.885 63.21c-.01 35.079 27.612 63.064 62.209 63.014zM63.993 4.63c32.907-.011 59.126 26.725 59.116 60.28-.011 31.679-26.925 58.18-59.092 58.187-32.771.007-59.125-26.563-59.124-59.608.002-32.193 26.766-58.848 59.1-58.859zM39.157 35.896c.538 1.793-.968 2.417-2.569 2.542-1.685.13-3.369.257-5.325.406 6.456 19.234 12.815 38.183 19.325 57.573.464-.759.655-.973.739-1.223 3.574-10.682 7.168-21.357 10.651-32.069.318-.977.16-2.271-.188-3.275-1.843-5.32-4.051-10.524-5.667-15.908-1.105-3.686-2.571-6.071-6.928-5.644-.742.073-1.648-1.524-2.479-2.349 1.005-.6 2.003-1.704 3.017-1.719a849.593 849.593 0 0126.618.008c1.018.017 2.016 1.15 3.021 1.765-.88.804-1.639 2.01-2.668 2.321-1.651.498-3.482.404-5.458.58l19.349 57.56c2.931-9.736 5.658-18.676 8.31-27.639 2.366-8.001.956-15.473-3.322-22.52-1.286-2.119-2.866-4.175-3.595-6.486-.828-2.629-1.516-5.622-1.077-8.259.745-4.469 4.174-6.688 8.814-7.113C74.333.881 34.431 9.317 19.728 34.922c5.66-.261 11.064-.604 16.472-.678 1.022-.013 2.717.851 2.957 1.652zm10.117 77.971c-.118.345-.125.729-.218 1.302 10.943 3.034 21.675 2.815 32.659-.886l-16.78-45.96c-5.37 15.611-10.52 30.575-15.661 45.544zm-8.456-2.078l-25.281-69.35c-11.405 22.278-2.729 56.268 25.281 69.35zm76.428-44.562c.802-10.534-2.832-25.119-5.97-27.125-.35 3.875-.106 8.186-1.218 12.114-2.617 9.255-5.817 18.349-8.899 27.468-3.35 9.912-6.832 19.779-10.257 29.666 16.092-9.539 24.935-23.618 26.344-42.123z"
      ></path>
    </svg>`,
      },
      { title: "VSCode", url: "https://code.visualstudio.com/", icon: vscode },
      { title: "Grunt.js", url: "https://gruntjs.com/", icon: grunt },
      { title: "Bitbucket", url: "https://bitbucket.org/", icon: bitbucket },
      {
        title: "Jira",
        url: "https://www.atlassian.com/software/jira",
        icon: jira,
      },
      { title: "jQuery", url: "https://jquery.com/", icon: jquery },
      { title: "NPM", url: "https://www.npmjs.com/", icon: npm },
      { title: "WordPress", url: "https://wordpress.org/", icon: wordpress },
      { title: "StoryBook", url: "https://storybook.js.org/", icon: storybook },
      { title: "MySQL", url: "https://www.mysql.com/", icon: mysql },
      { title: "Elastic", url: "https://www.elastic.co/", icon: elastic },
    ],
    links: [
      {
        title: "Site",
        url: "",
        icon: link,
      },
    ],
    launchDate: "May, 2024",
    role: "Developer and project leader of the site while working with a team of other developers, collaborating with designers, and frequent interfacing with customers.",
    features: [
      {
        title: "WordPress CMS",
        description:
          "Utilizing WordPress as a Content Management System (CMS), the site is highly customizable, easy to update and maintain, and allows the customer to quickly add or update content.",
      },
      {
        title: "Custom Theme",
        description:
          "The site is built on a custom theme from designs that provide a unique, user-friendly experience.",
      },
      {
        title: "Custom Plugins",
        description:
          "My team and I developed a ton of highly customized, reusable, and dynamic plugins that allow the customer to easily add content to the site.",
      },
    ],
  },
];

export const prerender = true;
---

<ul
  class="flex flex-wrap md:container items-center justify-center gap-4 lg:gap-8">
  {
    projectsList.map((project, index) => (
      <li class="relative flex flex-col items-center justify-center rounded-md p-2 transition-all duration-200 odd:text-stone-800 even:text-stone-800 hover:text-stone-600 hover:p-4">
        <button class="relative flex flex-col items-center justify-center gap-2 text-base font-semibold no-underline">
          <Suspense>
            <Image
              src={project.coverImage}
              alt={project.alt}
              class="relative object-cover rounded-md"
              height={308}
              width={150}
            />
          </Suspense>
          <span class="text-center text-sm">{project.title}</span>
        </button>
        <ProjectModal client:visible params={project} />
      </li>
    ))
  }
</ul>
